<<<<<<< HEAD
*{
    background-color: rgb(137, 182, 46);
}
.navbar{
    background-color: chocolate;
    
}
#navbarSupportedContent{
    flood-color: black; 
}
#cl{
    color: black;
}
=======
*{
    background-color: rgb(137, 182, 46);
}
.navbar{
    background-color: chocolate;
    
}
#navbarSupportedContent{
    flood-color: black; 
}
#cl{
    color: black;
}
>>>>>>> 95123e43299bde552c9b6efc44b344efcd8bac1a
